
    table {
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        font-size: 12px;
    }
    th {
        background-color: #ffffff;
        font-weight: bold;
    }
    /* Estilo para las cabeceras agrupadas */
    th.group-header {
        background-color: #f2f2f2;
    }
    